@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #2F2F2F;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Блокировка горизонтальной прокрутки страницы */
}

.container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}

.page {
    display: none;
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 20px;
    background-color: #2F2F2F;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}

.page.active {
    display: block;
}

/* Стили для заголовка */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 10px yellow;
    margin-bottom: 10px;
}

/* Стили для логотипа */
.title {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Стили для ранга */
.rank {
    font-size: 3.5em;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 0 0 10px yellow;
    margin-top: 5px;
}

/* Стили для счета */
.score {
    display: flex;
    align-items: center;
    font-size: 3em;
    color: yellow;
    text-shadow: 0 0 5px yellow;
    margin: 10px 0;
}

/* Стили для иконки монеты */
.coin-icon {
    align-items: center;
    width: 60px;
    height: 60px;
    margin-left: 120px;
}

/* Стили для контейнера кнопок */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 74%;
}

/* Стили для обертки кнопок */
.button-wrapper {
    position: relative;
    width: 102%;
    height: calc(33.33% - 2px);
    margin-bottom: -4px;
}

/* Стили для кнопок */
.button {
    cursor: pointer;
    width: 101%;
    height: 100%;
    background-color: #2F2F2F;
    transition: box-shadow 0.9s;
}

/* Стили для прозрачного текста */
.transparent-text {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    color: yellow;
    font-size: 1em;
    text-shadow: 0 0 25px yellow;
}

/* Стили для страницы стейкинга */
.staking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staking-container input,
.staking-container button {
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
}

.staking-container p {
    font-size: 1.1em;
    color: yellow;
}

/* Стили для страницы заданий */
.task-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 10px;
}

.task-title {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 5px yellow;
}

.task-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#tasksList {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffcc00;
    border-radius: 5px;
    font-weight: 700;
}

.task-text {
    flex: 1;
    color: #444;
    text-align: left;
    font-weight: bold;
}

.taskButton {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: yellow;
    color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стили для страницы рефералов */
.task-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 10px;
}

.task-title {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 5px yellow;
}

.task-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.referral-income {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #2F2F2F;
    border: 2px solid yellow;
    border-radius: 10px;
}

.referral-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.referral-link,
.referral-income,
.referral-list {
    width: 100%;
    margin: 20px 0;
    text-align: left;
}

.referral-link h3,
.referral-income h3,
.referral-list h3 {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 5px yellow;
}

.referral-link input {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    color: #444;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
}

.referral-link button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    background-color: yellow;
    color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.referral-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.referral-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2F2F2F;
    border: 2px solid yellow;
    border-radius: 10px;
}

.referral-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.referral-name,
.referral-income {
    font-size: 1.2em;
    color: yellow;
    font-weight: bold;
}

/* Стили для страницы кошелька */
.wallet-balance,
.promo-code {
    margin: 20px 0;
}

.wallet-balance h3,
.promo-code h3 {
    font-size: 1.5em;
    color: yellow;
    text-shadow: 0 0 5px yellow;
}

.wallet-balance p,
.promo-code input,
.promo-code button {
    font-size: 1.2em;
    color: yellow;
    background-color: #444;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.promo-code button {
    background-color: yellow;
    color: #444;
    cursor: pointer;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content h2 {
    font-size: 2em;
    color: yellow;
    margin-bottom: 20px;
}

.modal-content p {
    font-size: 1.2em;
    color: yellow;
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: yellow;
    color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: yellow;
    cursor: pointer;
}

/* Стили для футера */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 5px;
    height: 50px;
}

/* Стили для иконок в футере */
.footer img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 2px solid #2F2F2F;
    border-radius: 10px;
    padding: 5px;
    margin: 0 5px;
    transition: box-shadow 0.3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.footer img:hover {
    box-shadow: 0 0 20px #9F8E29;
}
