@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 10px yellow;
}

.title {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin-top: 10px;
}

.rank {
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 10px yellow;
}

.score {
    font-size: 2em;
    color: yellow;
    text-shadow: 0 0 10px yellow;
    margin: 10px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    margin: 0;
    transition: box-shadow 0.9s; /* Замедление анимации */
}

.button + .button {
    margin-top: -4px; /* Убираем промежуток между кнопками */
}

.button:active {
    transform: scale(0.97); /* Уменьшаем отдачу */
}

.button:hover.staking {
    box-shadow: 0 0 30px blue; /* Усиливаем неон */
}

.button:hover.clicker {
    box-shadow: 0 0 30px green; /* Усиливаем неон */
}

.button:hover.pass {
    box-shadow: 0 0 30px yellow; /* Усиливаем неон */
}

.rank-table {
    display: none;
    position: absolute;
    top: 20%;
    background-color: #444;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    z-index: 1000;
}

.rank-table table {
    width: 100%;
    color: #fff;
}

.rank-table th, .rank-table td {
    padding: 5px;
    text-align: center;
}

.rank-table th {
    background-color: #555;
}

.pass-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background-color: yellow;
    color: black;
    border: 2px solid #fff;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    padding-top: 30%;
}

.staking-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background-color: yellow;
    color: black;
    border: 2px solid #fff;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    padding-top: 10%;
}

.staking-modal input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

.staking-modal button {
    padding: 10px 20px;
    cursor: pointer;
}

.earnings-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background-color: yellow;
    color: black;
    border: 2px solid #fff;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    padding-top: 10%;
}

.earnings-modal button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 0 30px yellow;
    animation: neon-border 6s infinite alternate; /* Замедление анимации */
}

.footer img {
    width: 25px;
    height: 25px;
}

@keyframes neon-border {
    0% {
        box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
    }
    100% {
        box-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
    }
}
